.App {
	height: 100%;
	background: #000;
	color: #fff;
	display: flex;
}

.graphs {
	display: flex;
	font-size: 0;
}

.graphs .squares {
	display: flex;
	flex-wrap: wrap;
	background: #000;
	flex-direction: column;
}

.square {
	background: #fff;
}
